<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-transactionadd [accountDetails]="accountDetails" [transactionDetails]="transactionDetails" (addTransaction)="addTransactionDetails($event)"></app-transactionadd>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" id="success-alert" *ngIf="showSuccess">
              <button type="button" class="close" data-dismiss="alert" (click)="hideMessage()">x</button>
              <strong>Success! </strong>Transaction detail is added to the summary!
          </div>
          <div class="alert alert-danger" id="success-alert" *ngIf="showError">
            <button type="button" class="close" data-dismiss="alert" (click)="hideMessage()">x</button>
            <strong>Error! </strong>Transaction detail is not added to the summary!
          </div>
          <app-transactiondetails [transactionDetails]="transactionDetails"></app-transactiondetails>
        </div>
      </div>
    </div>
  </div>
</div>