.container-fluid {
  background: url('../../assets/background.jpg')  no-repeat center center fixed;
  background-size: cover;
  padding-right: 50px;
  padding-left: 50px;
  /*height: calc(100vh - 46.17px);*/
}

.container-fluid > .row {
  padding-top: 50px;
  padding-bottom:50px;
}